.customers-items-column {
    white-space: normal !important;
    word-wrap: break-word !important;
    min-width: 300px;
    max-width: 500px;
    line-height: 1.4;
    padding: 1rem !important;
}



.customers-items-column ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 0;
}


.customers-last-order-column {
    white-space: nowrap !important;
    min-width: 150px;
    text-align: center;
}

